// main: ../style.scss

/*  hero
------------------------------------------------------------------------------*/

.hero {
  position: relative;
  padding-top: vw-sp(80);
  background-image: -moz-linear-gradient( -90deg, rgb(79,196,225) 0%, rgb(231,250,255) 87%);
  background-image: -webkit-linear-gradient( -90deg, rgb(79,196,225) 0%, rgb(231,250,255) 87%);
  background-image: -ms-linear-gradient( -90deg, rgb(79,196,225) 0%, rgb(231,250,255) 87%);
  height: vw-sp(870);
}

.hero__in {
  position: relative;
  margin: 0 auto;
  width: vw-sp(700);
  height: 100%;
}

@media screen and (min-width: $breakpoint1) {

  .hero {
    padding-top: vw-pc(80);
    height: vw-pc(750);
  }

  .hero__in {
    width: vw-pc(1200);
  }
}

@media screen and (min-width: $breakpoint2) {

  .hero {
    padding-top: 80px;
    height: 750px;
  }

  .hero__in {
    width: $max-width;
  }
}

/* ----------------- テキスト - */


.hero-content {
  margin-left: vw-sp(40);
  margin-top: vw-sp(80);
}

.hero-catch {
  position: relative;
  display: inline-block;
  color: $color-base;
  font-size: vw-sp(52);
  font-weight: 700;
  line-height: 1.8em;
  letter-spacing: .3em;
  white-space: nowrap;
}

.hero-catch:before,
.hero-catch:after {
  position: absolute;
  font-family: $font4;
}

.hero-catch:before {
  content: '“';
  top: -.2em;
  left: -.7em;
}

.hero-catch:after {
  content: '”';
  bottom: -.5em;
  right: -.7em;
}

.hero-catch strong {
  position: relative;
  background: linear-gradient( to right,  #fffd6d 25%, #ffde58 75% );
  color: transparent;
  -webkit-background-clip: text;
}

.hero-catch strong:before {
  content: '';
  position: absolute;
  top: 101%;
  left: -.2em;
  display: inline-block;
  width: vw-sp(135);
  height: vw-sp(23);
  background-image: url(../img/hero/accent.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: vw-sp(670);
  height: vw-sp(311);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}


@media all and (-ms-high-contrast: none) { /* IE10,11用 */
  .hero-catch strong {
    background: none;
    color: #ffde58;
  }
}

@media screen and (min-width: $breakpoint1) {

  .hero-content {
    margin-top: 0;
    text-align: center;
  }

  .hero-catch {
    font-size: vw-pc(48);
    text-align: center;
  }

  .hero-catch strong:before {
    width:  vw-pc(118);
    height:  vw-pc(20);
  }

  .hero-image {
    width:  vw-pc(959);
    height:  vw-pc(450);
  }
}

@media screen and (min-width: $breakpoint2) {

  .hero-catch {
    font-size: 48px; font-size: 4.8rem;
  }

  .hero-catch strong:before {
    width: 118px;
    height: 20px;
  }

  .hero-image {
    width: 969px;
    height: 450px;
  }
}

.hero-scroll {
  position: absolute;
  bottom: vw-sp(40);
  left: 50%;
  width: vw-sp(77);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.hero-scroll a {
  display: block;
}

.hero-scroll a:hover {
  transform: translateY(-10px);
}

@media screen and (min-width: $breakpoint1) {

  .hero-scroll {
    bottom: vw-pc(40);
    width: vw-pc(77);
  }
}

@media screen and (min-width: $breakpoint2) {

  .hero-scroll {
    bottom: 40px;
    width: 77px;
  }
}


.hero-btn {
  position: absolute;
  top: vw-sp(170);
  right: vw-sp(25);
  width: vw-sp(220);
  z-index: 3;
}

.hero-btn > div:nth-of-type(1) {
  margin-bottom: 1em;
}

.btn--hero a {
  padding: .5em 0;
  display: block;
  flex-wrap: wrap;
}

.btn--hero span {
  display: block;
  width: 100%;
  font-size: vw-sp(20);
}

.btn--hero span:nth-of-type(1) {
  margin-bottom: .5em;
}

@media screen and (min-width: $breakpoint1) {

  .hero-btn {
    top: vw-pc(30);
    right: vw-pc(40);
    width: vw-pc(200);
  }

  .btn--hero span {
    font-size: vw-pc(15);
  }
}

@media screen and (min-width: $breakpoint2) {

  .hero-btn {
    top: 30px;
    right: 40px;
    width: 200px;
  }

  .btn--hero span {
    font-size: 15px; font-size: 1.5rem;
  }
}
